<div class="header bg-gradient-danger py-1 py-lg-1">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
            </div>
        </div>
    </div>

    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>
<br>
<br>
<div class="container-fluid mt--7">
    <br>
    <br>
    <div class="card-header bg-transparent">
        <h3 class="mb-0">Lista de Productos de la Campaña</h3>
    </div>
    <br/>
    <div class="row animated fadeIn fast">
        <app-product-cart-campaign [product]="product" [discount]="discount" *ngFor="let product of productosResult | paginate : {
            itemsPerPage: totalItemsToShow,
            currentPage: currentPage + 1,
            totalItems: totalItems
        };"></app-product-cart-campaign>
    </div>
    <div class="d-flex justify-content-center">
        <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next"
            (pageChange)="onDataChange($event)">
        </pagination-controls>
    </div>

</div>
