<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="card-columns">
            <div *ngFor="let producto of productosResult; let i = index" class="card animated fadeIn fast">
                <div class="card-body">
                    <h2 class="card-title">{{ producto.nombre }}</h2>
                    <p class="card-text">{{ producto.precio }}</p>
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <button type="button" class="btn btn-outline-primary btn-block">
                        Ver detalle...
                    </button>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ producto.tipo }}</li>
                    <li class="list-group-item">{{ producto.proveedor }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>